DATABASE_URL=postgresql://postgres:postgres@localhost:5433/crypto_smart_money
ETHEREUM_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/alch************
ETHEREUM_WS_URL=wss://eth-mainnet.g.alchemy.com/v2/alch_hjH**********
TELEGRAM_BOT_TOKEN=870****097:AAGIb4KlFsQbyYWou******
TELEGRAM_CHAT_ID=75288*****
API_URL=http://192.168.64.1:3000
NOTIFIER_PORT=3001
NOTIFIER_URL=http://192.168.64.1:3001
WHALE_DIGEST_INTERVAL_MINUTES=1
WHALE_THRESHOLD_ETH=50
INDEXER_PORT=3002
TELEGRAM_MAX_MESSAGE_LENGTH=3500
SUPABASE_URL=https://*******.supabase.co